body {
    background-image: url("../images/classes/clases_bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

h1 {
    padding: 15px 15px 0px 15px;
    text-align: center;
    background-color: black;
    color: #d5d4cc;
    border-radius: 12px;
    box-shadow: 3px 3px #ad1324;
    font-family: copperplate;
    text-shadow: 2px 2px #ad1324;
    height: 50px;
}

.classes_section {
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #d5d4cc;
    padding: 5px;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 3px 3px #ad1324;
    font-family: copperplate;
    text-shadow: 2px 2px #ad1324;
}

button:hover {
    background-color: #3e3d3d
}

button:active {
  background-color: #3e3d3d;
  box-shadow: 3px 1px #ad1324;
  transform: translateY(4px);
}

.Knight, .Wizard, .Archer {
    display: flex;
    flex-direction: column;
    background-color: #3d3d80;
    border-style: solid;
    border-radius: 10px;
    border-color: #2e2e60;
    border-width: 10px;
    margin: 0px 10px;
    transition: transform 0.3s ease;
}

.Knight img, .Wizard img, .Archer img {
    transition: opacity 0.3s ease;
}

.Knight .class_hover, 
.Wizard .class_hover, 
.Archer .class_hover {
    display: none;
}

.Knight:hover .class_image, 
.Wizard:hover .class_image, 
.Archer:hover .class_image {
    display: none;
}

.Knight:hover .class_hover, 
.Wizard:hover .class_hover, 
.Archer:hover .class_hover {
    display:block;
}

.Knight:hover, .Wizard:hover, .Archer:hover {
    transform: scale(1.05);
}
