body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 94vh;
    z-index: -1;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #000000b3;
    padding-top: 10px;
    z-index: 1;
    text-align: center;
}

p {
    color: whitesmoke;
}
