body {
    background-image: url("../images/TheCursedReturnVictory.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    margin-top: auto;
    width: 100%;
}

#logo_equipo {
    display: flex;
    justify-content: center;
}

#logo_juego {
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

#button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #d5d4cc;
    padding: 10px 16px;
    font-size: 25px;
    border-radius: 12px;
    box-shadow: 3px 3px #ad1324;
    font-family: copperplate, serif;
    text-shadow: 2px 2px #ad1324;
    cursor: pointer;
}

#button:hover {
    background-color: #3e3d3d;
}

#button:active {
  background-color: #3e3d3d;
  box-shadow: 3px 1px #ad1324;
  transform: translateY(4px);
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


