body {
    background-image: url("../images/background_animation_mp.gif");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;;
}

#logo_equipo {
    display: flex;
    justify-content: center;
}

#logo_juego {
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 650px;
    gap: 10px;
}

#button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #d5d4cc;
    padding: 10px 16px;
    font-size: 25px;
    border-radius: 12px;
    box-shadow: 3px 3px #ad1324;
    font-family: copperplate;
    text-shadow: 2px 2px #ad1324;
}

#button:hover {
    background-color: #3e3d3d
}

#button:active {
  background-color: #3e3d3d;
  box-shadow: 3px 1px #ad1324;
  transform: translateY(4px);
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}


