body {
    background-image: url("../images/background_animation_mp.gif");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;;
}

#logo_equipo {
    display: flex;
    justify-content: center;
}

#logo_juego {
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 25px 0px;
}

#button, #login_button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #d5d4cc;
    padding: 10px 16px;
    font-size: 25px;
    border-radius: 12px;
    box-shadow: 3px 3px #ad1324;
    font-family: copperplate;
    text-shadow: 2px 2px #ad1324;
    cursor: pointer;
}

#button:hover {
    background-color: #3e3d3d
}

#button:active {
  background-color: #3e3d3d;
  box-shadow: 3px 1px #ad1324;
  transform: translateY(4px);
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 75px 0px;
    border: #2c3372 solid 8px;

    width: 400px;
    background: #5880af;
    border-radius: 10px;
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    text-align: center;
    visibility: hidden;  
    transition: transform 0.4s, top 0.4s;
}

#login input{
    margin: 2px 0;
}

#login #submit, #login button {
    background-color: #2d508c;
    color: #d5d4cc;
    padding: 5px 16px;
    font-size: 25px;
    border-radius: 12px;
    box-shadow: 3px 3px #251154;
    font-family: copperplate;
    text-shadow: 2px 2px #251154;
    cursor: pointer;
}

#login h2 {
    color: #d5d4cc;
    font-family: copperplate;
    text-shadow: 2px 2px #251154;
    font-size: 40px;
    margin: 25px 0;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 8px;
}

.open_login {
    visibility: visible !important; 
    top: 50% !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

